/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

/* Navbar styles */
.nav-main {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-text {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-items {
    font-weight: 700;

}

.user-select select {
    padding: 8px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

/* Main content styles */
.main-content {
    padding: 20px;
    text-align: center;
}

.name {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Form styles */
form {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #333;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #FF5722;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

/* Specific table styles */
.weddingtable {
    margin-top: 20px;
}

.corporatetable {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}

.table-info {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

caption {
    
    font-weight: bold;
    text-align: center;
    padding: 8px;
    background-color: #f2f2f2;
    color: #333;
}